### 1. Numpy í™œìš©

ë„˜íŒŒì´ ì„¤ì¹˜ ë° import

In [1]:
# pip install numpy
!pip install numpy # For Google Colab

ERROR: Invalid requirement: '#'

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# Numpyì˜ ê²½ìš° ë³´í†µ npë¼ëŠ” ëª…ì¹­ìœ¼ë¡œ ì„í¬íŠ¸í•©ë‹ˆë‹¤.
import numpy as np

1.1 (3ì )

numpyë¥¼ í™œìš©í•˜ì—¬ ë„˜íŒŒì´ ë°°ì—´ì„ ìƒì„±í•´ì£¼ì„¸ìš”.

In [3]:
A = np.array([1.0, 3.0, 5.0])
print(A, type(A))

[1. 3. 5.] <class 'numpy.ndarray'>

1.2 (5ì )

numpyë¥¼ í™œìš©í•˜ì—¬ ë‹¤ì–‘í•œ ì¢…ë¥˜ì˜ ë„˜íŒŒì´ ë°°ì—´ì„ ìƒì„±í•´ì£¼ì„¸ìš”.

In [6]:
print(np.zeros(5))
print(np.ones(5))
print(np.arange(5))
print(np.full((2, 3), 5))
print(np.eye(3))

[0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1.]
[0 1 2 3 4]
[[5 5 5]
 [5 5 5]]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

1.3 (4ì )

ì£¼ì–´ì§„ ë°°ì—´ê³¼ ì‹¤í–‰ ê²°ê³¼ë¥¼ ë³´ê³ , ??? ëœ ë¶€ë¶„ì„ ì‘ì„±í•´ì£¼ì„¸ìš”.

In [10]:
A = np.array([[1, 2], [3, 4]])
print(A)
print(A.shape)
print(A.dtype)

[[1 2]
 [3 4]]
(2, 2)
int32

1.4 (3ì )

ì£¼ì–´ì§„ ì½”ë“œë¥¼ ë³´ê³ , ì‹¤í–‰ ê²°ê³¼ë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”.

In [11]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[2, 4], [6, 8]])

print(A+B)
print(A-B)
print(A*B)
print(A/B)

[[ 3  6]
 [ 9 12]]
[[-1 -2]
 [-3 -4]]
[[ 2  8]
 [18 32]]
[[0.5 0.5]
 [0.5 0.5]]

1.5 (5ì )

ì£¼ì–´ì§„ ë°°ì—´ê³¼ ì‹¤í–‰ ê²°ê³¼ë¥¼ ë³´ê³ , ??? ëœ ë¶€ë¶„ì„ ì‘ì„±í•´ì£¼ì„¸ìš”.

In [13]:
A = np.array([[1, 1],
              [0, 1]])
B = np.array([[2, 0],
              [3, 4]])

print(A*B)
print(A @ B)
print(np.matmul(A,B))

[[2 0]
 [0 4]]
[[5 4]
 [3 4]]
[[5 4]
 [3 4]]

1.6 (5ì )

ì£¼ì–´ì§„ ì½”ë“œë¥¼ ë³´ê³ , ì‹¤í–‰ ê²°ê³¼ë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”.

In [14]:
A = [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
B = np.array(A)
B = B[0:2, 0:2]

print(B)

[[1 2]
 [4 5]]

### 2. Pandas í™œìš©

íŒë‹¤ìŠ¤ ì„¤ì¹˜ ë° import

In [15]:
# pip install pandas
!pip install pandas # For Google Colab

ERROR: Invalid requirement: '#'

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
# Pandasì˜ ê²½ìš° ë³´í†µ pdë¼ëŠ” ëª…ì¹­ìœ¼ë¡œ ì„í¬íŠ¸í•©ë‹ˆë‹¤.
import pandas as pd

2.1 (3ì )

ì£¼ì–´ì§„ ë°ì´í„°ì…‹(titanic.csv)ë¥¼ Pandasë¥¼ í™œìš©í•´ ì½ê³ , ì¶œë ¥í•´ì£¼ì„¸ìš”.

In [17]:
df = pd.read_csv("./titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2.2 (3ì )

ë°ì´í„°ì…‹ì˜ Indexì™€ Columnsë¥¼ ê°ê° ì¶œë ¥í•´ì£¼ì„¸ìš”.

In [18]:
print('Index : {0}'.format(df.index))
print('Columns : {0}'.format(df.columns))

Index : RangeIndex(start=0, stop=891, step=1)
Columns : Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

2.3 (5ì )

ë°ì´í„°ì…‹ì—ì„œ ì•ë¶€ë¶„ 7ëª…ì˜ ë°ì´í„°ë¥¼ ì¶œë ¥í•˜ê³  7ë²ˆì§¸ ì‚¬ëŒì˜ ì„±ë³„ì„ ì‘ì„±í•´ì£¼ì„¸ìš”.

In [19]:
df.head(7)
# 7ë²ˆì§¸ ì‚¬ëŒì˜ ì„±ë³„ì€? : m

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

2.4 (3ì )

ë°ì´í„°ì…‹ì˜ ê²°ì¸¡ì¹˜ë¥¼ í™•ì¸í•´ì£¼ì„¸ìš”.

In [23]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

2.5 (5ì )

í™•ì¸í•œ ê²°ì¸¡ì¹˜ë¥¼ ë‹¤ìŒê³¼ ê°™ì´ ìˆ˜ì •í•´ì£¼ì„¸ìš”.
*   Age -> í‰ê· ê°’
*   Cabin -> 'Unknown'ìœ¼ë¡œ ëŒ€ì²´
*   Embarked -> ìµœë¹ˆê°’

In [24]:
df['Age'].mean()

df['Cabin'].fillna("Unknown", inplace=True)

Mode = df['Embarked'].mode()[0]
df['Embarked'].fillna(Mode, inplace=True)

2.6 (3ì )

ë°ì´í„°ì…‹ì˜ "Name" ì»¬ëŸ¼ì„ ì‚­ì œí•´ì£¼ì„¸ìš”.

In [27]:
df.drop(columns=['Name'],inplace=True)

2.7 (3ì )

ë°ì´í„°ì…‹ì˜ "PassengerId" ì»¬ëŸ¼ëª…ì„ "ID"ë¡œ ë³€ê²½í•´ì£¼ì„¸ìš”.

In [28]:
df = df.rename(columns={'PassengerId':'ID'}, inplace=True)

---

## 2ì¡°

ë¹„íƒ€ë¯¼ 13ê¸° ì—¬ëŸ¬ë¶„ ì•ˆë…•í•˜ì„¸ìš”! ğŸŠ

í•™ê¸°ì„¸ì…˜ 2ì£¼ì°¨ ì˜ˆìŠµê³¼ì œë¥¼ ì¶œì œí•œ 2ì¡°ì…ë‹ˆë‹¤.

2ì£¼ì°¨ ì˜ˆìŠµê³¼ì œì˜ ë‘ ë²ˆì§¸ íŒŒíŠ¸ì—ì„œëŠ” Scikit-learnì— ëŒ€í•´ ê³µë¶€í•©ë‹ˆë‹¤.

1ë²ˆ ë¬¸í•­ì—ì„œëŠ” ê°œë… ìœ„ì£¼ë¡œ, 2ë²ˆ ë¬¸í•­ì—ì„œëŠ” ì‹¤ìŠµ ìœ„ì£¼ë¡œ ì¶œì œë  ì˜ˆì •ì´ë‹ˆ ì°¸ê³  ë°”ëë‹ˆë‹¤.

## 1ë²ˆ ë¬¸í•­

### Q1-1. ì‚¬ì´í‚·ëŸ°ì´ ë¬´ì—‡ì¸ì§€ì— ëŒ€í•´ ì„œìˆ í•˜ì‹œì˜¤. (2ì )

> íŒŒì´ì¬ì—ì„œ ë¨¸ì‹ ëŸ¬ë‹ì„ êµ¬í˜„í•  ìˆ˜ ìˆëŠ” ì˜¤í”ˆ ì†ŒìŠ¤ ë¼ì´ë¸ŒëŸ¬ë¦¬

### Q1-2. ë‹¤ìŒ ì¤‘ ì‚¬ì´í‚·ëŸ°ì—ì„œ ì œê³µí•˜ì§€ ì•ŠëŠ” ëª¨ë¸ì€? (2ì )

1. sklearn.preprocessing
2. sklearn.ensemble
3. sklearn.accuracy
4. sklearn.pipeline
5. sklearn.cluster

> 3

### Q1-3. êµì°¨ê²€ì¦ì˜ ì •ì˜ì™€ ëª©ì ì„ ì„œìˆ í•˜ì‹œì˜¤. (2ì )

> ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ í‰ê°€í•  ë•Œ, ëª¨ë¸ì˜ ì‹ ë¢°ë¥¼ ë†’ì´ê³  ê³¼ì í•© ë°©ì§€, ìµœì ì˜ í•˜ì´í¼íŒŒë¼ë¯¸í„°ë¥¼ ì„ íƒí•˜ê¸° ìœ„í•´ ì‚¬ìš©

### Q1-4. k-fold êµì°¨ê²€ì¦ê³¼ stratified k-fold êµì°¨ê²€ì¦ì˜ ê°œë…/ìš©ë„ë³„ ì°¨ì´ë¥¼ êµ¬ì²´ì ìœ¼ë¡œ ì„œìˆ í•˜ì‹œì˜¤. (4ì )

> k-foldëŠ” ë‹¨ìˆœíˆ ë°ì´í„°ë¥¼ kê°œì˜ ì„œë¸Œì…‹ìœ¼ë¡œ ë‚˜ëˆ  í‰ê°€í•˜ëŠ”ë° StratifiedëŠ” ê° foldì—ì„œ í´ë˜ìŠ¤ ë¹„ìœ¨ ìœ ì§€í•´ì„œ í‰ê°€í•œë‹¤. ê·¸ë ‡ê¸°ì— ë°ì´í„° ë¶ˆê· í˜•í•  ë•Œ ìœ ë¦¬í•˜ë‹¤.

### Q1-5. ì•„ë˜ëŠ” ì‚¬ì´í‚·ëŸ°ì˜ ëª¨ë“ˆ ì¤‘ í•˜ë‚˜ì¸ 'model_selection'ì˜ í•¨ìˆ˜ ì¤‘ í•˜ë‚˜ì¸ train_test_split( )ì˜ íŒŒë¼ë¯¸í„° ì¼ë¶€ì´ë‹¤. ê° íŒŒë¼ë¯¸í„°ì— ëŒ€í•œ ì„¤ëª…ê³¼ default ê°’ì„ ê°ê° ì ìœ¼ì‹œì˜¤. (3ì )

- test_size
- train_size
- shuffle
- random_state

> í…ŒìŠ¤íŠ¸ ë°ì´í„°, í›ˆë ¨ ë°ì´í„°, ë¬´ì‘ìœ„ ì…”í”Œ, ë°ì´í„° ë¶„í•  ì‹œ ì‹œë“œê°’
0.25, None, True, None

### Q1-6. í‘œì¤€í™”ì™€ ì •ê·œí™”ì— ëŒ€í•œ ì„¤ëª…ì„ ê°ê° ì„¤ëª…í•˜ì‹œì˜¤. (3ì )

> í‘œì¤€í™”ëŠ” í‘œì¤€ ì •ê·œë¶„í¬ì— ê°€ê¹Œì›Œì§€ê²Œ ë§Œë“œëŠ” ê²ƒì´ê³ , ì •ê·œí™”ëŠ” íŠ¹ì • ë²”ìœ„ ì•ˆìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ê²ƒì´ë‹¤.

### Q1-7. GridSearchCVì™€ RandomSearchCVì˜ ì°¨ì´ì ì„ êµ¬ì²´ì ìœ¼ë¡œ ì„œìˆ í•˜ì‹œì˜¤. (4ì )

> ë‘˜ì€ ìµœì ì˜ í•˜ì´í¼íŒŒë¼ë¯¸í„° ê°’ì„ ì°¾ëŠ” ê²ƒìœ¼ë¡œ, ê·¸ë¦¬ë“œì˜ ê²½ìš° ëª¨ë“  ì¡°í•©ì„ ì‚¬ìš©í•´ ê³„ì‚° ë¹„ìš©ì´ ë†’ê³  ëœë¤ì€ ë¬´ì‘ìœ„í•˜ê²Œ ì¡°í•©í•´ ìµœì ì˜ ì¡°í•©ì„ ëª» ì°¾ì„ìˆ˜ë„ ìˆë‹¤.

---

## 2ë²ˆ ë¬¸í•­

ë‹¤ìŒì€ ì‚¬ì´í‚·ëŸ°ì˜ ë‹¹ë‡¨ë³‘ í™˜ì ë°ì´í„°ì…‹ì„ ì´ìš©í•˜ì—¬ ëª¨ë¸ì„ í•™ìŠµì‹œí‚¤ëŠ” ì½”ë“œì…ë‹ˆë‹¤. ë‹¤ìŒ ë¹ˆì¹¸ì„ ì±„ìš°ì‹œì˜¤.

### Q2-1. 2ë²ˆ ë¬¸í•­ ì „ì²´ì—ì„œ ì‚¬ìš©ëœ model_selection ëª¨ë“ˆì˜ í•¨ìˆ˜ ì„¸ ê°€ì§€, ì‚¬ì´í‚·ëŸ°ì˜ ë‹¹ë‡¨ë³‘ ë°ì´í„°ì…‹ì„ import í•˜ì‹œì˜¤. (14ì )

In [29]:
# 2ë²ˆ ì „ì²´ ë¬¸í•­ì—ì„œ ì‚¬ìš©ëœ model_selection ëª¨ë“ˆì˜ í•¨ìˆ˜ ì„¸ ê°€ì§€ë¥¼ import í•˜ì‹œìš”.
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np

# ì‚¬ì´í‚·ëŸ°ì˜ ë‹¹ë‡¨ë³‘ ë°ì´í„°ì…‹ì„ ë¡œë“œí•˜ëŠ” ì½”ë“œë¥¼ ì…ë ¥í•˜ì‹œì˜¤.
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

# íŠ¹ì„± ë°ì´í„°ì™€ íƒ€ê²Ÿ ë°ì´í„°ë¥¼ ê°€ì ¸ì˜´
X = diabetes.data
y = diabetes.target

### Q2-2. diabetes ë°ì´í„°ë¥¼ë¥¼ test dataì™€ train dataë¡œ ë¶„ë¦¬í•˜ì‹œì˜¤ (ë‹¨, train dataì™€ test dataì˜ ë¹„ìœ¨ì€ 8:2, random_stateëŠ” ìì‹ ì˜ ë‚˜ì´ë¡œ ì„¤ì •) (6ì )

In [30]:
# diabetesë¥¼ test dataì™€ train dataë¡œ ë¶„ë¦¬í•˜ì‹œì˜¤
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=25)

### Q2-3. ì„ í˜•íšŒê·€ ê°ì²´ë¥¼ ë§Œë“¤ê³  í•™ìŠµê³¼ ì˜ˆì¸¡ì„ ìˆ˜í–‰í•˜ì‹œì˜¤ (10ì )

In [31]:
# ì„ í˜•íšŒê·€ ê°ì²´ ìƒì„±
linear_reg = LinearRegression()

# í•™ìŠµ ì§„í–‰
linear_reg.fit(X_train, y_train)

# ì˜ˆì¸¡
y_pred = linear_reg.predict(X_test)

# íšŒê·€ ì§€í‘œì¸ í‰ê·  ì œê³± ì˜¤ì°¨ ë° ìƒê´€ê³„ìˆ˜ ê³„ì‚°
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

### Q2-4. KFold ê°ì²´ë¥¼ ë§Œë“¤ì–´ì„œ kf ë³€ìˆ˜ì— ì €ì¥í•˜ì‹œì˜¤ (ë‹¨, K=5ë¡œ ë‘ê³  ì§„í–‰í•˜ì„¸ìš”) (5ì )

In [33]:
# êµì°¨ ê²€ì¦ì„ í•˜ëŠ” ì½”ë“œì…ë‹ˆë‹¤.
# KFold ê°ì²´ë¥¼ ë§Œë“¤ì–´ì„œ kf ë³€ìˆ˜ì— ì €ì¥í•˜ì‹œì˜¤
from sklearn.model_selection import KFold
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# í‰ê·  ì œê³± ì˜¤ì°¨ë¥¼ ì €ì¥í•  ë¦¬ìŠ¤íŠ¸ ìƒì„±
mse_scores = []

# ê° í´ë“œì— ëŒ€í•´ í•™ìŠµê³¼ ì˜ˆì¸¡ ìˆ˜í–‰
for train_index, test_index in kf.split(X):
    X_train, X_test = X[train_index], X[test_index]  # í›ˆë ¨ ë°ì´í„°ì™€ ê²€ì¦ ë°ì´í„°ë¡œ ë¶„í• 
    y_train, y_test = y[train_index], y[test_index]

    # ì„ í˜• íšŒê·€ ëª¨ë¸ ê°ì²´ ìƒì„±
    linear_reg = LinearRegression()
    linear_reg.fit(X_train, y_train)
    y_pred = linear_reg.predict(X_test)

    # í‰ê·  ì œê³± ì˜¤ì°¨ ê³„ì‚° ë° ì €ì¥
    mse = mean_squared_error(y_test, y_pred)
    mse_scores.append(mse)

# í‰ê·  ì œê³± ì˜¤ì°¨ì˜ í‰ê·  ê³„ì‚°
avg_mse = np.mean(mse_scores)

### Q2-5. êµì°¨ ê²€ì¦ì„ ì§„í–‰í•˜ëŠ” ë˜ ë‹¤ë¥¸ í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì‹œì˜¤. (5ì )

from sklearn.model_selection import cross_val_score
mse_scores = cross_val_score(linear_reg, X, y, scoring='neg_mean_squared_error', cv=5)