In [1]:
!pip install jamo

Collecting jamo
  Downloading jamo-0.4.1-py3-none-any.whl.metadata (2.3 kB)
Downloading jamo-0.4.1-py3-none-any.whl (9.5 kB)
Installing collected packages: jamo
Successfully installed jamo-0.4.1

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install hangul-utils

Collecting hangul-utils
  Downloading hangul_utils-0.4.5-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: tqdm in c:\users\lwg\appdata\local\programs\python\python310\lib\site-packages (from hangul-utils) (4.66.1)
Requirement already satisfied: six in c:\users\lwg\appdata\local\programs\python\python310\lib\site-packages (from hangul-utils) (1.15.0)
INFO: pip is looking at multiple versions of hangul-utils to determine which version is compatible with other requirements. This could take a while.
  Downloading hangul_utils-0.4.4-py3-none-any.whl.metadata (1.1 kB)
  Downloading hangul_utils-0.4.3-py3-none-any.whl.metadata (1.1 kB)
  Downloading hangul_utils-0.4.2-py3-none-any.whl.metadata (1.1 kB)
  Downloading hangul_utils-0.4.1-py3-none-any.whl.metadata (1.1 kB)
  Downloading hangul_utils-0.4-py3-none-any.whl.metadata (1.1 kB)
  Downloading hangul-utils-0.3.0.tar.gz (4.3 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting twkorean>=0.1.5 (from hangul-utils)
  Downloading twkorean-0.1.5.tar.gz (8.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting hangul-utils
  Downloading hangul-utils-0.2.tar.gz (2.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: hangul-utils
  Building wheel for hangul-utils (setup.py): started
  Building wheel for hangul-utils (setup.py): finished with status 'done'
  Created wheel for hangul-utils: filename=hangul_utils-0.2-py3-none-any.whl size=3237 sha256=dba5517185d2334b1a397d2681790268082717fd2064d55e0544efa9a2daf5ff
  Stored in directory: c:\users\lwg\appdata\local\pip\cache\wheels\1b\ea\42\2be093da7a0a162db0146a9518252f2721276d141a94b7f1b8
Successfully built hangul-utils
Installing collected packages: hangul-utils
Successfully installed hangul-utils-0.2

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

je_train = pd.read_csv('etc.csv',header=None)

                                                        0
0                                                판관헤난 거 ?
1             우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 .
2                                                     에 .
3                                               응 , 거니까 .
4                                               운영헤 오다가 .
...                                                   ...
160351      예 . 옛날에는 저기 무슨 마을접이엔 헤가지고 , 뭐 상여접도 잇어나곡 뭐 계 .
160352                                            ᄄᆞᆷ떼기 ?
160353    이 선흘에 . 우리 살아난 집 이제 ᄄᆞᆫ 사름 살암저마는 , 우리 친정에 살아난 .
160354  구신 우러근에 옛날 어른덜 주지 창 그디 더꺼근에 이 제ᄉᆞ 때나 무시거 때랑 그디...
160355                                게민 고추장은 안 담강 먹엇수과 ?

[160356 rows x 1 columns]

In [ ]:
def convert_arae_a_to_period(text):
    # 초성, 중성, 종성 데이터를 정의합니다.
    chotext = """
    ᄀ ㄱ 기역 3.399
    ᄁ ㄲ 쌍기역 3.398
    ᄂ ㄴ 니은 3.397
    ᄃ ㄷ 디귿 3.396
    ᄄ ㄸ 쌍디귿 3.395
    ᄅ ㄹ 리을 3.394
    ᄆ ㅁ 미음 3.393
    ᄇ ㅂ 비읍 3.392
    ᄈ ㅃ 쌍비읍 3.391
    ᄉ ㅅ 시옷 3.390
    ᄊ ㅆ 쌍시옷 3.389
    ᄋ ㅇ 이응 3.388
    ᄌ ㅈ 지읒 3.387
    ᄍ ㅉ 쌍지읒 3.386
    ᄎ ㅊ 치읓 3.385
    ᄏ ㅋ 키읔 3.384
    ᄐ ㅌ 티읕 3.383
    ᄑ ㅍ 피읖 3.382
    ᄒ ㅎ 히읗 3.381
    """

    jungtext = """
    ᆢ .. 쌍아래아 2.298
    ᆡ .ㅣ 아래아이
    ᆞ . 아래아 2.299
    """

    jongtext = """
    ᆪ ㄱㅅ 기역시옷 3.196
    ᆬ ㄴㅈ 니은지읒 3.194
    ᆭ ㄴㅎ 니은히읗 3.193
    ᆰ ㄹㄱ 리을기역 3.190
    ᆱ ㄹㅁ 리을미음 3.189
    ᆲ ㄹㅂ 리을비읍 3.188
    ᆳ ㄹㅅ 리을시옷 3.187
    ᆴ ㄹㅌ 리을티읕 3.186
    ᆵ ㄹㅍ 리을피읖 3.185
    ᆶ ㄹㅎ 리을히읗 3.184
    ᆹ ㅂㅅ 비읍시옷 3.181
    ᆫ ㄴ 니은 3.195
    ᆮ ㄷ 디귿 3.192
    ᆯ ㄹ 리을 3.191
    ᆷ ㅁ 미음 3.183
    ᆸ ㅂ 비읍 3.182
    ᆺ ㅅ 시옷 3.180
    ᆻ ㅆ 쌍시옷 3.179
    ᆼ ㅇ 이응 3.178
    ᆽ ㅈ 지읒 3.177
    ᆾ ㅊ 치읓 3.176
    ᆿ ㅋ 키읔 3.175
    ᇀ ㅌ 티읕 3.174
    ᇁ ㅍ 피읖 3.173
    ᇂ ㅎ 히읗 3.172
    ᆨ ㄱ 기역 3.198
    ᆩ ㄲ 쌍기역 3.197
       3.199
    """

    # 초성, 중성, 종성을 리스트로 변환합니다.
    def getlist(text):
        result = []
        textlines = text.strip().split('\n')
        for line in textlines:
            splited = line.split(' ')
            result.append([splited[0], splited[1]])
        return result

    cho = getlist(chotext)
    jung = getlist(jungtext)
    jong = getlist(jongtext)

    # 변환 딕셔너리를 생성합니다.
    dic = {}
    for c in cho:
        for j in jung:
            for k in jong:
                dic[c[0] + j[0] + k[0]] = c[1] + j[1] + k[1]

    # 변환 함수
    def convtext(text):
        for k, v in dic.items():
            text = text.replace(k, v)
        return text

    # 변환 실행
    return convtext(text)

# 데이터프레임의 모든 셀에 대해 변환을 수행합니다.



def convert_arae_a_to_period(text):
    # 아래아를 온점으로 변환
    return text.replace('ᆞ', 'ㅏ').replace('ᆢ', 'ㅕ').replace('ᆡ', 'ㅐ')

# 각 행에 대해 변환 적용
je_train_converted = je_train.applymap(lambda x: convert_arae_a_to_period(x) if 'ᆞ' in x or 'ᆢ' in x or 'ᆡ' in x else x)

# 변환된 데이터프레임을 저장합니다.
je_train_converted.to_csv('BLEU_data.csv', sep='\t', header=False, index=False, encoding='utf-8')

변환이 완료되었습니다. 변환된 파일은 /mnt/data/je_converted.train에 저장되었습니다.

In [ ]:
je_conv_train = pd.read_table('BLEU_data.csv',header=None)
je_conv_train

                                                        0
0                                                판관헤난 거 ?
1             우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 .
2                                                     에 .
3                                               응 , 거니까 .
4                                               운영헤 오다가 .
...                                                   ...
160351      예 . 옛날에는 저기 무슨 마을접이엔 헤가지고 , 뭐 상여접도 잇어나곡 뭐 계 .
160352                                            ᄄㅏᆷ떼기 ?
160353    이 선흘에 . 우리 살아난 집 이제 ᄄㅏᆫ 사름 살암저마는 , 우리 친정에 살아난 .
160354  구신 우러근에 옛날 어른덜 주지 창 그디 더꺼근에 이 제ᄉㅏ 때나 무시거 때랑 그디...
160355                                게민 고추장은 안 담강 먹엇수과 ?

[160356 rows x 1 columns]

In [ ]:
je_train

                                                        0
0                                                판관헤난 거 ?
1             우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 .
2                                                     에 .
3                                               응 , 거니까 .
4                                               운영헤 오다가 .
...                                                   ...
160351      예 . 옛날에는 저기 무슨 마을접이엔 헤가지고 , 뭐 상여접도 잇어나곡 뭐 계 .
160352                                            ᄄᆞᆷ떼기 ?
160353    이 선흘에 . 우리 살아난 집 이제 ᄄᆞᆫ 사름 살암저마는 , 우리 친정에 살아난 .
160354  구신 우러근에 옛날 어른덜 주지 창 그디 더꺼근에 이 제ᄉᆞ 때나 무시거 때랑 그디...
160355                                게민 고추장은 안 담강 먹엇수과 ?

[160356 rows x 1 columns]

In [ ]:

# 아래아가 포함된 행을 찾는 함수
def contains_arae_a(text):
    return 'ᆞ' in text or 'ᆢ' in text or 'ᆡ' in text
def contains_arae_a1(text):
    return 'ᆞ' in text
def contains_arae_a2(text):
    return 'ᆢ' in text
def contains_arae_a3(text):
    return 'ᆡ' in text

# 아래아가 포함된 행을 필터링
rows_with_arae_a = je_train[je_train[0].apply(contains_arae_a)]
rows_with_arae_a1 = je_train[je_train[0].apply(contains_arae_a1)]
rows_with_arae_a2 = je_train[je_train[0].apply(contains_arae_a2)]
rows_with_arae_a3 = je_train[je_train[0].apply(contains_arae_a3)]

# 아래아가 포함된 행들을 출력
rows_with_arae_a

                                                        0
5             에 , 산듸 , 아 요는 뭐이던지 복잡허게 나면은 우 ᄃᆞ탕은에 뒈들 아녀 .
15      대게 보민 조기광 생성 그런 거 국 끌리주 . 다른 건 몰라 , 나 원 . 다른 궤...
17                                     야 , ᄂᆞᆯ 낭 탈 때ᄁᆞ지 .
18      이젠 파짐치 , ᄒᆞ꼼 허민 요만이만 커가민 막 캐당 , 걸 . 맛은 잇주게 어린 ...
19      원 너무 밧이 궂이니까 조가 안 뒈여 . 안 되민 그 ᄀᆞ랑조를 ᄇᆞᆯ리면은 좀 뒈...
...                                                   ...
160339               그 조칲 , 피짚들은 여기 축산농가들 잇당 ᄃᆞ렌 허민 줘불고 .
160349  ᄐᆞᆮ곡 다시 젠젠헌 건 보리 두드리듯 두드리고 . 성읍리레 하영 허주 경허민 그걸...
160352                                            ᄄᆞᆷ떼기 ?
160353    이 선흘에 . 우리 살아난 집 이제 ᄄᆞᆫ 사름 살암저마는 , 우리 친정에 살아난 .
160354  구신 우러근에 옛날 어른덜 주지 창 그디 더꺼근에 이 제ᄉᆞ 때나 무시거 때랑 그디...

[36358 rows x 1 columns]

In [ ]:
import unicodedata


def convert_arae_a_to_period(text):
    # 아래아를 온점으로 변환
    return text.replace('ᆞ', 'ㅏ').replace('ᆢ', 'ㅕ').replace('ᆡ', 'ㅐ')

# 각 행에 대해 변환 적용
je_train_converted = je_train.applymap(lambda x: convert_arae_a_to_period(x) if 'ᆞ' in x or 'ᆢ' in x or 'ᆡ' in x else x)
je_test_converted = je_test.applymap(lambda x: convert_arae_a_to_period(x) if 'ᆞ' in x or 'ᆢ' in x or 'ᆡ' in x else x)
je_dev_converted = je_dev.applymap(lambda x: convert_arae_a_to_period(x) if 'ᆞ' in x or 'ᆢ' in x or 'ᆡ' in x else x)


def normalize_string(s):
    if isinstance(s, str):
        return unicodedata.normalize('NFKC', s)
    return s

# 데이터프레임의 모든 요소에 정규화 함수 적용
je_convert_train = je_train_converted.applymap(normalize_string)
je_convert_test = je_test_converted.applymap(normalize_string)
je_convert_dev = je_dev_converted.applymap(normalize_string)

In [ ]:
convert_arae_a_to_period"이젠 파짐치 , ᄒᆞ꼼 허민 요만이만 커가민 막 캐당 , 걸 . 맛은 잇"

In [ ]:
je_convert_train

                                                        0
0                                                판관헤난 거 ?
1             우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 .
2                                                     에 .
3                                               응 , 거니까 .
4                                               운영헤 오다가 .
...                                                   ...
160351      예 . 옛날에는 저기 무슨 마을접이엔 헤가지고 , 뭐 상여접도 잇어나곡 뭐 계 .
160352                                              땀떼기 ?
160353      이 선흘에 . 우리 살아난 집 이제 딴 사름 살암저마는 , 우리 친정에 살아난 .
160354  구신 우러근에 옛날 어른덜 주지 창 그디 더꺼근에 이 제사 때나 무시거 때랑 그디 ...
160355                                게민 고추장은 안 담강 먹엇수과 ?

[160356 rows x 1 columns]

In [ ]:
je_convert_test

                                                      0
0         경헤도 거 살살 거려뒁 먹주 . 거 안 먹진 안허여 . 어떵 옛날 삶사 삶 이랏어
1                마찬가지 겅 쌀 넣어근엥 물 넣곡 허영 삶아가면 익어근엥 죽 뒈는 거
2                                     그것가란 저 거세기 , 정지 .
3                                        예 , 동김치 . 그거 .
4                                    겅 헤부난 많이 검질메야겠다예 .
...                                                 ...
4995                            모물카루 헤근엥에 카근엥에 저 무시것에 .
4996                                사름이 발라 , 쉐나 말로 발라 ?
4997  비여근에 , 멍석이영 만 , 옛날엔 멍석 가졍 밧듸 가 . 도께질 하여 . 모멀낭 ...
4998                                  그추룩 부칠 때는 호는 바농 .
4999                               메준 이 동짓달만 낭 삶앙 뒙니다 .

[5000 rows x 1 columns]

In [ ]:
je_convert_dev

                                                      0
0     경하민 이제 그것에 가치 씨에 버물려지민 걸름에 다 밟을 때 밟앙 요만씩요만씩 다 ...
1     바느질허는 사름덜도 먹곡 허민 그 관 짜는 사름덜도 먹곡 허주게 겐 관에 담은 후엔...
2                                           아 , 잔치 때도 ?
3                                     옛날은 육식헤영 노리 , 꿩 .
4                        어 . 그런 것도게 강 사 오라 질 때나 먹지 무신 .
...                                                 ...
4995       누게 아느냐 ? 게난 거 다섯 상제 , 아덜 다섯 개민 다섯 개 다 헤낫어 옛날
4996  게메이 . 경허연 영영 허연 요망썩 요망썩 걸름을 헤영 그디 씨들어강 거 영 방 벌...
4997               영 열아근에 막 남죽으로 그냥 거 젓젠 허민 얼마나 힘들카부덴 .
4998                                밧 갈 때 밧 갈레 가젠 하면은 .
4999                               게민 산이곡 오름이곡 붙어 자칩주 .

[5000 rows x 1 columns]

In [ ]:
je = pd.concat([je_convert_train,je_convert_test,je_convert_dev])
ko = pd.concat([ko_train, ko_test, ko_dev])

In [ ]:
je

                                                      0
0                                              판관헤난 거 ?
1           우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 .
2                                                   에 .
3                                             응 , 거니까 .
4                                             운영헤 오다가 .
...                                                 ...
4995       누게 아느냐 ? 게난 거 다섯 상제 , 아덜 다섯 개민 다섯 개 다 헤낫어 옛날
4996  게메이 . 경허연 영영 허연 요망썩 요망썩 걸름을 헤영 그디 씨들어강 거 영 방 벌...
4997               영 열아근에 막 남죽으로 그냥 거 젓젠 허민 얼마나 힘들카부덴 .
4998                                밧 갈 때 밧 갈레 가젠 하면은 .
4999                               게민 산이곡 오름이곡 붙어 자칩주 .

[170356 rows x 1 columns]

In [ ]:
ko

                                                      0
0                                              판관했던 거 ?
1         우리 그냥 맨손에 맨손에 김도 매고 , 김도 베고 . 그렇게 했었어 , 옛날은 .
2                                                   예 .
3                                            응 , 그러니까 .
4                                             운영해 오다가 .
...                                                 ...
4995    누가 아니 ? 그러니까 다섯 상제 , 아들 다섯 개면 다섯 개 다 했었어 , 옛날 .
4996  글쎄 . 그렇게 해서 이렇게 이렇게 해서 이만씩 이만씩 거름을 해서 거기 씨 들어간...
4997             이렇게 열어서 막 죽젓개로 그냥 거 저으려고 하면 얼마나 힘들까봐 .
4998                                밭 갈 때 밭 갈러 가려고 하면 .
4999                                그럼 산이고 오름이고 붙어 젖히 지

[170356 rows x 1 columns]

In [ ]:
df_je_ko = pd.DataFrame()
df_je_ko['je'] = je
df_je_ko['ko'] = ko
df_je_ko

,je,ko
0,판관헤난 거 ?,판관했던 거 ?
1,"우리 그냥 맨손에 맨손에 검질도 메고 , 검질도 비고 . 경헤난 , 옛날은 .","우리 그냥 맨손에 맨손에 김도 매고 , 김도 베고 . 그렇게 했었어 , 옛날은 ."
2,에 .,예 .
3,"응 , 거니까 .","응 , 그러니까 ."
4,운영헤 오다가 .,운영해 오다가 .
...,...,...
4995,"누게 아느냐 ? 게난 거 다섯 상제 , 아덜 다섯 개민 다섯 개 다 헤낫어 옛날","누가 아니 ? 그러니까 다섯 상제 , 아들 다섯 개면 다섯 개 다 했었어 , 옛날 ."
4996,게메이 . 경허연 영영 허연 요망썩 요망썩 걸름을 헤영 그디 씨들어강 거 영 방 벌...,글쎄 . 그렇게 해서 이렇게 이렇게 해서 이만씩 이만씩 거름을 해서 거기 씨 들어간...
4997,영 열아근에 막 남죽으로 그냥 거 젓젠 허민 얼마나 힘들카부덴 .,이렇게 열어서 막 죽젓개로 그냥 거 저으려고 하면 얼마나 힘들까봐 .
4998,밧 갈 때 밧 갈레 가젠 하면은 .,밭 갈 때 밭 갈러 가려고 하면 .
4999,게민 산이곡 오름이곡 붙어 자칩주 .,그럼 산이고 오름이고 붙어 젖히 지

In [ ]:
df_je_ko.to_csv("df_je_ko.csv", sep='\t', header=False, index=False, encoding='utf-8')