# 문제1 - 30점

* Num 리스트의 값을 각각 하나씩 문자로 변환하여 Str 리스트에 저장한다.
* Str 리스트의 값을 각각 하나씩 int형으로 변환하여 Res 리스트에 저장한다.
* 이 과정 중 오류가 발생하면 "오류 발생"이라는 문구가 출력되게 작성한다.
* hint: for,try, except문 사용

In [6]:
Num=[1,20,15,67,"TimeSeries"]

<class 'int'>
['1', '20', '15', '67', 'TimeSeries']
오류 발생

# 문제2 - 30점

* 총 10명의 학생이 기록한 수학, 영어 점수는 아래와 같습니다.

* 학생의 수학, 영어 점수를 합산한 평균을 구하고, 점수가 높은 순서대로 정렬한 후 결과값으로 **점수가 높은 5명의 점수를 출력**하세요.

* 리스트 순서대로 학생 한 명의 점수입니다.
* hint: for문 사용

In [ ]:
english = [84, 76, 86, 90, 73, 85, 81, 71, 89, 100]
math = [72, 76, 86, 71, 69, 96, 74, 83, 87, 68]

#답

# 문제3 - 30점

* 다음은 2022년 7월 26일 오후 2시 기준, 원화 환율입니다.

  (미국:1309.70$, 유럽연합:1339.30€, 중국:193.84¥, 영국:1579.96£)
* 환전하려는 금액을 입력 받고, 나라를 입력 받아서 환율을 **소수점 2자리**로 출력하세요. 
* Hint: 환전 금액과 나라 입력 시 input 함수를, 국가별 환율 계산에는 조건문을 사용하세요.

<답안 예시>

환전 금액(원화):8000

국가 선택(미국/유럽연합/중국/영국):미국

6.11

In [ ]:
#답

# 문제4 - 50점

* 피보나치 수열은 [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, ...]와 같이

   f(t) = f(t-1) + f(t-2)로 구성되는 수열을 말합니다.
* fib(n)를 실행하면 n번째 피보나치의 수가 반환될 수 있게 함수를 작성하시오.

* EX) fib(6) 실행 시 8이 결과로 반환되어야 함.


 
부분 점수 있음

(재귀함수로 작성 시 가산점)

In [ ]:
#함수 내용 (작성해야하는 내용)



#출력해야 되는 내용
print(fib(100))