In [94]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [95]:
#help(pd.DataFrame.sort_index)
res = list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
res

['Ïû•ÏÇêÏ≠à',
 'Ï¥ùÎ™áÎ™Ö',
 'ÌååÎøåÎ¶¨',
 'Ïß§Ìà∞',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'SPOTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'BANGTANTV']

In [96]:
df.columns

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [97]:
res = list(df[df.dislikes>df.likes].channelTitle.unique())
res

['Ìï´ÎèÑÍ∑∏TV',
 'ASMR Ïï†Ï†ïTV',
 'ÌïòÏñÄÌä∏Î¶¨HayanTree',
 'ÏñëÌå° YangPang',
 'Ï≤†Íµ¨Ìòï (CHULTUBE)',
 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§',
 '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä',
 'Ïò§Î©îÌÇ¥TV',
 'Ïú°ÏßÄÎã¥',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO',
 'Gen.G esports']

In [98]:
# Ï§ëÎ≥µÌñâ Ï†úÍ±∞
change = df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
len(target)

71

In [99]:
# to_datetime Î≥ÄÌôò Î∞è dt.day_name ÏÇ¨Ïö© 
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
answer = df.loc[df['trending_date2'].dt.day_name()=='Sunday'].categoryId.value_counts().index[0]
answer

24

In [100]:
# groupby Î∞è pivot ÏÇ¨Ïö©
gr = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
answer = gr.pivot(index='categoryId', columns='trending_date2')
answer

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [101]:
df.columns

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [102]:
# 1Ï∞® ÌïÑÌÑ∞ÎßÅ -> ÎπÑÏú® Íµ¨Ìï® -> sort (by ÏÇ¨Ïö© Î∞è iloc Î∞è title)
target2 = df.loc[df.view_count !=0]
t = target2.copy()
t['ratio']=(target2['comment_count']/target2['view_count']).dropna()
res = t.sort_values(by='ratio', ascending=False).iloc[0].title
res

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [103]:
te = t[(t.ratio!=0)]
res = te.sort_values(by='ratio', ascending=True).iloc[0].title
res

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [104]:
te = df[(df.likes!=0) & (df.dislikes!=0)]
te['ratio2'] = (te['dislikes']/te['likes'])
res = te.sort_values(by='ratio2', ascending=True).iloc[0].title
res

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_4716\869939881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  te['ratio2'] = (te['dislikes']/te['likes'])

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [105]:
ans = df.loc[df.channelId == df.channelId.value_counts().index[0]].channelTitle.unique()[0]
ans

'Ïß§Ìà∞'

In [106]:
(df[['title','channelId']].value_counts()>=20).sum()

40

# Ïú†ÌäúÎ∏å Í≥µÎ≤îÏª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞

In [107]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

In [108]:
video['ct'] = pd.to_datetime(video['ct'])
video['videoname'].value_counts()

videoname
 Í≥µÎ≤î EP1    3492
 Í≥µÎ≤î EP2    3204
 Í≥µÎ≤î EP3    2568
 Í≥µÎ≤î EP4    2280
 Í≥µÎ≤î EP5    1562
 Í≥µÎ≤î EP6    1274
 Í≥µÎ≤î EP7     555
 Í≥µÎ≤î EP8     266
Name: count, dtype: int64

In [109]:
# Ï†ïÎ†¨ -> Ï§ëÎ≥µ Ï†úÍ±∞ (Ïù¥Î¶Ñ Î∞è ÎÇ†Ïßú Í∏∞Ï§Ä) -> ÏÑ†ÌÉù -> Ïù∏Îç±Ïä§ Ï¥àÍ∏∞Ìôî
answer = video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)
answer

   viewcnt videoname                  ct
0  3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
1  2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
2  1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
3  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
4  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
5  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
6  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
7  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

In [110]:
channel.ct = pd.to_datetime(channel.ct)
target = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
answer = target[['channelname','subcnt']].reset_index(drop=True)
answer

        channelname   subcnt
0            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
2        Ï∏ÑÏ†ïChuJeong   322000
3        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
4       Î¶¥ÌéÑ Lilpearl    10100
5   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
6               Ï°∞ÎÇòÎã®   215000
7           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
8     Balming Tiger    54300
9     Í≥ΩÌÜ†Î¶¨ kwak tori   471000
10              ÍΩàÎöúÎ£π  1330000

In [111]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname','subcnt']].reset_index(drop=True)

end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']


tt = pd.merge(start_df,end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname','del']]
display(result)

        channelname    del
0               ÍΩàÎöúÎ£π  70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨  11000
2        Ï∏ÑÏ†ïChuJeong   1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞ -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle      0
5               Ï°∞ÎÇòÎã®  12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§  10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂   1540
8       Î¶¥ÌéÑ Lilpearl  11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori  -2000
10    Balming Tiger   2500

In [112]:
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
]

answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,Í≥µÎ≤î EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,Í≥µÎ≤î EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,Í≥µÎ≤î EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,Í≥µÎ≤î EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,Í≥µÎ≤î EP1

In [113]:
ans = video.sort_values(by='ct').drop_duplicates('videoname')
ans['date']=ans.ct.dt.strftime('%Y-%m-%d') # Ïù¥Í≤å ÌïµÏã¨
ans[['date','videoname']]

             date videoname
10     2021-10-07    Í≥µÎ≤î EP1
3496   2021-10-09    Í≥µÎ≤î EP2
6696   2021-10-14    Í≥µÎ≤î EP3
9264   2021-10-16    Í≥µÎ≤î EP4
11544  2021-10-21    Í≥µÎ≤î EP5
13661  2021-10-23    Í≥µÎ≤î EP6
13106  2021-10-28    Í≥µÎ≤î EP7
14935  2021-10-30    Í≥µÎ≤î EP8

In [114]:
video['time']= video.ct.dt.hour
ans = video[video['time']==21].sort_values(['videoname','ct']).drop_duplicates('videoname').sort_values('viewcnt', ascending=False).reset_index(drop=True)
ans[['videoname','viewcnt','ct']]

  videoname  viewcnt                  ct
0    Í≥µÎ≤î EP8   264029 2021-10-30 21:00:08
1    Í≥µÎ≤î EP7   252032 2021-10-28 21:00:04
2    Í≥µÎ≤î EP4   217674 2021-10-16 21:00:04
3    Í≥µÎ≤î EP6   213899 2021-10-23 21:00:06
4    Í≥µÎ≤î EP5   201179 2021-10-21 21:00:04
5    Í≥µÎ≤î EP2   148144 2021-10-09 21:00:03
6    Í≥µÎ≤î EP3   147183 2021-10-14 21:00:04
7    Í≥µÎ≤î EP1   117340 2021-10-07 21:00:03

In [115]:
video.columns

Index(['videopk', 'viewcnt', 'likecnt', 'dislikecnt', 'favoritecnt', 'cmcnt',
       'ct', 'videoname', 'time'],
      dtype='object')

In [116]:
ans = video.sort_values('ct').drop_duplicates('videoname',keep='last')
ans['ratio'] = video['dislikecnt']/video['likecnt']
ans.sort_values('ratio')[['videoname','ratio']].reset_index(drop=True)

  videoname     ratio
0    Í≥µÎ≤î EP7  0.013636
1    Í≥µÎ≤î EP6  0.015881
2    Í≥µÎ≤î EP4  0.017971
3    Í≥µÎ≤î EP5  0.021128
4    Í≥µÎ≤î EP3  0.022360
5    Í≥µÎ≤î EP1  0.027118
6    Í≥µÎ≤î EP2  0.029844
7    Í≥µÎ≤î EP8  0.141357

In [117]:
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

target = video.loc[(video["ct"] >= start) & (video['ct'] <= end)].reset_index(drop=True)
def check(x):
    return max(x)-min(x)

target[['videoname','viewcnt']].groupby('videoname').agg(check)

           viewcnt
videoname
 Í≥µÎ≤î EP1      13298
 Í≥µÎ≤î EP2      10300
 Í≥µÎ≤î EP3       9927
 Í≥µÎ≤î EP4       9824
 Í≥µÎ≤î EP5      10824
 Í≥µÎ≤î EP6      14141
 Í≥µÎ≤î EP7      26949
 Í≥µÎ≤î EP8      89147

In [118]:
# Ï†ÑÏ≤¥ Ïù∏Îç±Ïä§ÏóêÏÑú Ï§ëÎ≥µÏù¥ ÏïÑÎãå Ïù∏Îç±Ïä§Î•¥ ÎªÑ = Ï§ëÎ≥µÎßå ÎÇ®Ïùå
answer  = video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]
answer[['videoname','ct']]

     videoname                  ct
722     Í≥µÎ≤î EP1 2021-10-13 09:41:37
3927    Í≥µÎ≤î EP2 2021-10-13 09:41:37

# ÏõîÎìúÏªµ Ï∂úÏ†ÑÏÑ†Ïàò Í≥®Í∏∞Î°ù Îç∞Ïù¥ÌÑ∞

In [119]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [120]:
result = df.groupby('Country').sum().sort_values('Goals',ascending=False).head(5)
pd.DataFrame(result['Goals'])

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [121]:
result = df.groupby('Country').size().sort_values(ascending=False).head(5)
result

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [122]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check ==False])
result

45

In [123]:
df2=df[df.check].reset_index(drop=True)
len(df2)

1250

In [124]:
df2.head()

,Player,Goals,Years,Country,yearLst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True
3,Just Fontaine,13,1958,France,[1958],True
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True

In [125]:
def check2(x):
    return len(x)

df2['LenCup'] = df2['yearLst'].apply(check2)
len(df2[df2.LenCup==4])

16

In [126]:
len(df2[(df2.LenCup==2) & (df2.Country=='Yugoslavia')])

7

In [127]:
len(df2[df2['yearLst'].apply(lambda x: '2002' in x)])

156

In [128]:
# ÎåÄÏÜåÎ¨∏Ïûê Íµ¨Î∂ÑÌïòÏßÄ ÏïäÍ∏∞ ÏúÑÌï¥ ÎØ∏Î¶¨ ÏÜåÎ¨∏ÏûêÎ°ú Î≥ÄÍ≤Ω
len(df2[df2.Player.str.lower().str.contains('carlos')])

13

In [129]:
df2[df2.LenCup==1].sort_values('Goals', ascending=False).Player.iloc[0]

'Just Fontaine'

In [130]:
df2[df2.LenCup==1].groupby('Country').size().sort_values(ascending=False).index[0]

'Brazil'

# ÏÑúÏö∏Ïãú Îî∞Î¶âÏù¥ Ïù¥Ïö©Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞

In [131]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ÎåÄÏó¨ÏùºÏûê  ÎåÄÏó¨ÏãúÍ∞Ñ  ÎåÄÏó¨ÏÜåÎ≤àÌò∏ ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú ÏÑ±Î≥Ñ Ïó∞Î†πÎåÄÏΩîÎìú  Ïù¥Ïö©Í±¥Ïàò    Ïö¥ÎèôÎüâ   ÌÉÑÏÜåÎüâ     Ïù¥ÎèôÍ±∞Î¶¨  ÏÇ¨Ïö©ÏãúÍ∞Ñ
0  2021-06-01     0   3541    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  13.04  0.17   731.55     6

In [132]:
res = df['ÎåÄÏó¨ÏùºÏûê'].value_counts().sort_index().to_frame()
res.sort_values(by='count').index[-1]

'2021-06-04'

In [133]:
df['ÎåÄÏó¨ÏùºÏûê'] = pd.to_datetime(df['ÎåÄÏó¨ÏùºÏûê'])
df['day_name'] = df['ÎåÄÏó¨ÏùºÏûê'].dt.day_name()
df['day_name'].value_counts().to_frame()

            count
day_name
Wednesday  110607
Friday     108877
Monday     107568
Tuesday    103704
Saturday   101299
Sunday      90918
Thursday    55977

In [134]:
df.columns

Index(['ÎåÄÏó¨ÏùºÏûê', 'ÎåÄÏó¨ÏãúÍ∞Ñ', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏', 'ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú', 'ÏÑ±Î≥Ñ', 'Ïó∞Î†πÎåÄÏΩîÎìú', 'Ïù¥Ïö©Í±¥Ïàò', 'Ïö¥ÎèôÎüâ', 'ÌÉÑÏÜåÎüâ',
       'Ïù¥ÎèôÍ±∞Î¶¨', 'ÏÇ¨Ïö©ÏãúÍ∞Ñ', 'day_name'],
      dtype='object')

In [135]:
res = df.groupby(['day_name','ÎåÄÏó¨ÏÜåÎ≤àÌò∏']).size().to_frame('size').sort_values(['day_name','size'], ascending=False).reset_index()
ans = res.drop_duplicates('day_name', keep='first').reset_index(drop=True)

ans

    day_name  ÎåÄÏó¨ÏÜåÎ≤àÌò∏  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

In [136]:
df.head()

,ÎåÄÏó¨ÏùºÏûê,ÎåÄÏó¨ÏãúÍ∞Ñ,ÎåÄÏó¨ÏÜåÎ≤àÌò∏,ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú,ÏÑ±Î≥Ñ,Ïó∞Î†πÎåÄÏΩîÎìú,Ïù¥Ïö©Í±¥Ïàò,Ïö¥ÎèôÎüâ,ÌÉÑÏÜåÎüâ,Ïù¥ÎèôÍ±∞Î¶¨,ÏÇ¨Ïö©ÏãúÍ∞Ñ,day_name
0,2021-06-01,0,3541,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,41.40,0.37,1608.56,18,Tuesday
3,2021-06-01,0,2919,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,0.00,0.00,0.00,75,Tuesday
4,2021-06-01,0,549,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,13.04,0.17,731.55,6,Tuesday

In [137]:
daily = df[df.ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú.isin(['ÏùºÏùºÍ∂å','ÏùºÏùºÍ∂å(ÎπÑÌöåÏõê)'])].Ïó∞Î†πÎåÄÏΩîÎìú.value_counts().sort_index()
total = df.Ïó∞Î†πÎåÄÏΩîÎìú.value_counts().sort_index()
ratio = (daily/total).sort_values(ascending=False)
ratio
ratio.index[0]

'~10ÎåÄ'

In [138]:
df.columns

Index(['ÎåÄÏó¨ÏùºÏûê', 'ÎåÄÏó¨ÏãúÍ∞Ñ', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏', 'ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú', 'ÏÑ±Î≥Ñ', 'Ïó∞Î†πÎåÄÏΩîÎìú', 'Ïù¥Ïö©Í±¥Ïàò', 'Ïö¥ÎèôÎüâ', 'ÌÉÑÏÜåÎüâ',
       'Ïù¥ÎèôÍ±∞Î¶¨', 'ÏÇ¨Ïö©ÏãúÍ∞Ñ', 'day_name'],
      dtype='object')

In [139]:
result = df[['Ïó∞Î†πÎåÄÏΩîÎìú','Ïù¥ÎèôÍ±∞Î¶¨']].groupby(['Ïó∞Î†πÎåÄÏΩîÎìú']).mean()
result

              Ïù¥ÎèôÍ±∞Î¶¨
Ïó∞Î†πÎåÄÏΩîÎìú
20ÎåÄ    3211.890552
30ÎåÄ    3341.443859
40ÎåÄ    3514.857416
50ÎåÄ    3593.668100
60ÎåÄ    3538.145737
70ÎåÄ~   3085.039641
~10ÎåÄ   2634.426279

In [140]:
tw = df[df.Ïó∞Î†πÎåÄÏΩîÎìú =='20ÎåÄ'].reset_index(drop=True)
tw_mean = tw[tw.Ïù¥ÎèôÍ±∞Î¶¨ >= tw.Ïù¥ÎèôÍ±∞Î¶¨.mean()].reset_index(drop=True)
tw_mean['ÌÉÑÏÜåÎüâ'] =tw_mean['ÌÉÑÏÜåÎüâ'].astype('float')
target =tw_mean.sort_values(['ÎåÄÏó¨ÏùºÏûê','ÎåÄÏó¨ÏÜåÎ≤àÌò∏'], ascending=False).reset_index(drop=True).iloc[:200].ÌÉÑÏÜåÎüâ
target
result = round(target.mean(),3)
print(result)

1.613

In [141]:
df.columns

Index(['ÎåÄÏó¨ÏùºÏûê', 'ÎåÄÏó¨ÏãúÍ∞Ñ', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏', 'ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú', 'ÏÑ±Î≥Ñ', 'Ïó∞Î†πÎåÄÏΩîÎìú', 'Ïù¥Ïö©Í±¥Ïàò', 'Ïö¥ÎèôÎüâ', 'ÌÉÑÏÜåÎüâ',
       'Ïù¥ÎèôÍ±∞Î¶¨', 'ÏÇ¨Ïö©ÏãúÍ∞Ñ', 'day_name'],
      dtype='object')

In [142]:
res = df[(df.ÎåÄÏó¨ÏùºÏûê.dt.strftime('%m-%d')=='06-07') & (df.Ïó∞Î†πÎåÄÏΩîÎìú=='~10ÎåÄ')]
res.Ïù¥Ïö©Í±¥Ïàò.median()

1.0

In [143]:
target = df[(df.day_name.isin(['Tuesday', 'Wednesday', 'Thursday', 'Friday','Monday'])) & (df.ÎåÄÏó¨ÏãúÍ∞Ñ.isin([6,7,8]))]
res = target.groupby(['ÎåÄÏó¨ÏãúÍ∞Ñ','ÎåÄÏó¨ÏÜåÎ≤àÌò∏']).size().to_frame('Ïù¥Ïö© ÌöüÏàò')
res.sort_values(['ÎåÄÏó¨ÏãúÍ∞Ñ','Ïù¥Ïö© ÌöüÏàò'], ascending=False).groupby('ÎåÄÏó¨ÏãúÍ∞Ñ').head(3)

            Ïù¥Ïö© ÌöüÏàò
ÎåÄÏó¨ÏãúÍ∞Ñ ÎåÄÏó¨ÏÜåÎ≤àÌò∏
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

In [144]:
res = df[df['Ïù¥ÎèôÍ±∞Î¶¨']>=df.Ïù¥ÎèôÍ±∞Î¶¨.mean()]
res.Ïù¥ÎèôÍ±∞Î¶¨.std()

5092.139707505356

In [156]:
df['ÏÑ±Î≥Ñ'] = df['ÏÑ±Î≥Ñ'].str.lower()
df['sex'] = df['ÏÑ±Î≥Ñ'].map(lambda x: 'ÎÇ®' if x=='m' else 'Ïó¨')
df[['sex','Ïù¥ÎèôÍ±∞Î¶¨']].groupby('sex').mean()

            Ïù¥ÎèôÍ±∞Î¶¨
sex
ÎÇ®    3209.110871
Ïó¨    3468.575025

In [157]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [171]:
result = df[df.ÌñâÎ≥µÎû≠ÌÇπ ==10]['Ï†êÏàò'].mean()
result

7.259

In [178]:
df[df.ÌñâÎ≥µÎû≠ÌÇπ <=50][['ÎÖÑÎèÑ','Ï†êÏàò']].groupby('ÎÖÑÎèÑ').mean()

           Ï†êÏàò
ÎÖÑÎèÑ
2018  6.64678
2019  6.67002

In [190]:
df[df.ÎÖÑÎèÑ==2018][['Ï†êÏàò','Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù']].corr().iloc[0][1]

0.40529152271510027

In [ ]:
# Ï†ÑÏ≤¥ - Ï§ëÎ≥µÏù¥ ÏïÑÎãå Í≤ÉÏùÑ Î∫¥ÎãàÍπå = Ï§ëÎ≥µÎßå ÎÇ®Ïùå
result = len(df[['ÌñâÎ≥µÎû≠ÌÇπ','ÎÇòÎùºÎ™Ö']]) - len(df[['ÌñâÎ≥µÎû≠ÌÇπ','ÎÇòÎùºÎ™Ö']].drop_duplicates())

     ÌñâÎ≥µÎû≠ÌÇπ                       ÎÇòÎùºÎ™Ö
156     1                   Finland
157     2                    Norway
158     3                   Denmark
159     4                   Iceland
160     5               Switzerland
..    ...                       ...
307   152                     Yemen
308   153                  Tanzania
309   154               South Sudan
310   155  Central African Republic
311   156                   Burundi

[156 rows x 2 columns]

In [204]:
df_numeric = df[df.ÎÖÑÎèÑ == 2019].select_dtypes(include='number')
zz = df_numeric.corr().unstack().to_frame().reset_index().dropna()
print(zz)
result = zz[zz[0] !=1].sort_values(0,ascending=False).drop_duplicates(0)
answer = result.head(5).reset_index(drop=True)
answer.columns = ['v1','v2','corr']
display(answer)

     level_0   level_1         0
0       ÌñâÎ≥µÎû≠ÌÇπ      ÌñâÎ≥µÎû≠ÌÇπ  1.000000
1       ÌñâÎ≥µÎû≠ÌÇπ        Ï†êÏàò -0.989096
2       ÌñâÎ≥µÎû≠ÌÇπ     ÏÉÅÎåÄGDP -0.801947
3       ÌñâÎ≥µÎû≠ÌÇπ     ÏÇ¨ÌöåÏ†ÅÏßÄÏõê -0.767465
4       ÌñâÎ≥µÎû≠ÌÇπ     ÌñâÎ≥µÍ∏∞ÎåÄÏπò -0.787411
..       ...       ...       ...
66  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù     ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  0.181899
67  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù     ÌñâÎ≥µÍ∏∞ÎåÄÏπò  0.295283
68  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù   ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ  0.438843
69  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù       Í¥ÄÎåÄÌï®  0.326538
70  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù  1.000000

[64 rows x 3 columns]

      v1     v2      corr
0  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÉÅÎåÄGDP  0.835462
1  ÏÉÅÎåÄGDP     Ï†êÏàò  0.793883
2  ÌñâÎ≥µÍ∏∞ÎåÄÏπò     Ï†êÏàò  0.779883
3  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê     Ï†êÏàò  0.777058
4  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÏÉÅÎåÄGDP  0.754906

In [231]:
df.sort_values(['ÎÖÑÎèÑ','Ï†êÏàò']).groupby('ÎÖÑÎèÑ').head().groupby('ÎÖÑÎèÑ')['Ï†êÏàò'].mean().to_frame()

          Ï†êÏàò
ÎÖÑÎèÑ
2018  3.1800
2019  3.1408

In [238]:
b = df[(df.ÎÖÑÎèÑ==2019) & (df.ÏÉÅÎåÄGDP >= df.ÏÉÅÎåÄGDP.mean())]['Ï†êÏàò'].mean()
c = df[(df.ÎÖÑÎèÑ==2019) & (df.ÏÉÅÎåÄGDP < df.ÏÉÅÎåÄGDP.mean())]['Ï†êÏàò'].mean()
b-c

1.390483957219251

In [252]:
df.sort_values(['ÎÖÑÎèÑ','Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù'], ascending=False).groupby('ÎÖÑÎèÑ').head(20).groupby('ÎÖÑÎèÑ')['Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù'].mean().to_frame()

      Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù
ÎÖÑÎèÑ
2018    0.3267
2019    0.3201

In [255]:
len(set(df[(df.ÎÖÑÎèÑ==2018) & (df.ÌñâÎ≥µÎû≠ÌÇπ <=50)].ÎÇòÎùºÎ™Ö) -set(df[(df.ÎÖÑÎèÑ==2019) & (df.ÌñâÎ≥µÎû≠ÌÇπ <=50)].ÎÇòÎùºÎ™Ö))

4

In [261]:
count = df.ÎÇòÎùºÎ™Ö.value_counts()
target = count[count>=2].index

df2 =df.copy()
multiple = df2[df2.ÎÇòÎùºÎ™Ö.isin(target)].reset_index(drop=True)
multiple.loc[multiple['ÎÖÑÎèÑ']==2018,'Ï†êÏàò'] = multiple[multiple.ÎÖÑÎèÑ ==2018]['Ï†êÏàò'].values * (-1)
result = multiple.groupby('ÎÇòÎùºÎ™Ö').sum()['Ï†êÏàò'].sort_values().to_frame().iloc[-1]
result

Ï†êÏàò    0.87
Name: Burundi, dtype: float64

# ÏßÄÏó≠Íµ¨ ÏóêÎÑàÏßÄ ÏÜåÎπÑÎüâ Îç∞Ïù¥ÌÑ∞

In [262]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [265]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
result = df['DateTime'].dt.month.value_counts().sort_index().to_frame()
result

          count
DateTime
1          4464
2          4032
3          4464
4          4320
5          4464
6          4320
7          4464
8          4464
9          4320
10         4464
11         4320
12         4320

In [273]:
target = df[df.DateTime.dt.month ==3]
result = target.groupby(target.DateTime.dt.hour)['Temperature'].mean().sort_values()
result.values[0]

11.506612903225806

In [275]:
target.groupby(target.DateTime.dt.hour)['Temperature'].mean().sort_values(ascending=False)
result.values[-1]

18.393602150537635

In [277]:
df.head(2)

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434

In [279]:
res = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]
res['Humidity'].mean()

68.23624448055052

In [281]:
df[['Zone 1 Power Consumption','Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [283]:
def check(x):
    if x<10:
        return 'A'
    elif x<20:
        return 'B'
    elif x<30:
        return 'c'
    else:
        return 'D'

df['check'] = df['Temperature'].apply(check)
df['check'].value_counts()

check
B    26993
c    21105
A     2874
D     1444
Name: count, dtype: int64

In [288]:
res = df[df.DateTime.dt.month==6]
res[res.DateTime.dt.hour==12]['Temperature'].std()

2.0499417827951025

In [289]:
res = df[df.DateTime.dt.month==6]
res[res.DateTime.dt.hour==12]['Temperature'].var()

4.202261312849163

In [305]:
res = df[df['Temperature']>=df['Temperature'].mean()]
res.sort_values('Temperature')['Humidity'].values[3]

87.9

In [306]:
res = df[df['Temperature']>=df['Temperature'].median()]
res.sort_values('Temperature')['Humidity'].values[3]

80.3

# Ìè¨ÏºìÎ™¨ Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞

In [9]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [14]:
target = df.groupby('Legendary')['HP'].mean()
target[1]-target[0]

25.55614861329147

In [18]:
df['Type 2'].value_counts().index[0]

'Flying'

In [24]:
Max = df['Type 1'].value_counts().index[0]
result = df[df['Type 1']== Max].Attack.mean() /df[df['Type 1']== Max].Defense.mean()
result

1.0165238678090576

In [30]:
df[df['Legendary']==True]['Generation'].value_counts().index[0]

3

In [33]:
target = df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0: "corr"})
result = target[target['corr']!=1].sort_values('corr',ascending=False).iloc[0]
print(result)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

In [41]:
df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()

19.5

In [42]:
df.sort_values(['Generation','Attack'],ascending=False).groupby('Generation').head(5).Attack.mean()

157.23333333333332

In [52]:
df[['Type 1','Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
Name: count, dtype: int64

In [57]:
target = df[['Type 1','Type 2']].value_counts()==1
res = len(target[target==1])
res

39

In [61]:
target = df[['Type 1','Type 2']].value_counts()==1
target2 =target[target==1]

lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)
result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
result

Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: count, dtype: int64

In [62]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,Ï∏°Ï†ïÎÇòÏù¥,Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ,Ïã†Ïû• : cm,Ï≤¥Ï§ë : kg,Ï≤¥ÏßÄÎ∞©Ïú® : %,Ïù¥ÏôÑÍ∏∞ÌòàÏïï(ÏµúÏ†Ä) : mmHg,ÏàòÏ∂ïÍ∏∞ÌòàÏïï(ÏµúÍ≥†) : mmHg,ÏïÖÎ†•D : kg,ÏïâÏïÑÏúóÎ™∏ÏïûÏúºÎ°úÍµΩÌûàÍ∏∞ : cm,ÍµêÏ∞®ÏúóÎ™∏ÏùºÏúºÌÇ§Í∏∞ : Ìöå,Ï†úÏûêÎ¶¨ Î©ÄÎ¶¨Îõ∞Í∏∞ : cm,Îì±Í∏â
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [67]:
df['ÏàòÏ∂ïÍ∏∞ÌòàÏïï(ÏµúÍ≥†) : mmHg'].mean()- df['Ïù¥ÏôÑÍ∏∞ÌòàÏïï(ÏµúÏ†Ä) : mmHg'].mean()

52.195394147506704

In [ ]:
df[df['Ï∏°Ï†ïÎÇòÏù¥']//10==5]['Ïã†Ïû• : cm'].mean

164.07490107405314

In [78]:
def check(x):
    y = x//10
    if y==2:
        return 20.0
    elif y==3:
        return 30.0
    elif y==4:
        return 40.0
    elif y==5:
        return 50.0
    elif y==6:
        return 60.0

df['Ïó∞Î†πÎåÄ']=df['Ï∏°Ï†ïÎÇòÏù¥'].apply(check)
df['Ïó∞Î†πÎåÄ'].value_counts()

Ïó∞Î†πÎåÄ
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: count, dtype: int64

In [81]:
df.groupby(['Ïó∞Î†πÎåÄ','Îì±Í∏â'], as_index=False).size()

     Ïó∞Î†πÎåÄ Îì±Í∏â  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

In [87]:
a = df[(df.Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ =='M') &(df.Îì±Í∏â =='A')]['Ï≤¥ÏßÄÎ∞©Ïú® : %'].mean()
d = df[(df.Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ =='M') &(df.Îì±Í∏â =='D')]['Ï≤¥ÏßÄÎ∞©Ïú® : %'].mean()
d-a

7.932086486137521

In [ ]:
a = df[(df.Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ =='F') &(df.Îì±Í∏â =='A')]['Ï≤¥Ï§ë : kg'].mean()
d = df[(df.Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ =='F') &(df.Îì±Í∏â =='D')]['Ï≤¥Ï§ë : kg'].mean()
d-a

5.176211590296504

In [94]:
df['bmi']=df['Ï≤¥Ï§ë : kg']/(df['Ïã†Ïû• : cm']/100)**2
df[df.Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ =='M']['bmi'].mean()

24.46134409819308

In [97]:
df[df['bmi']<df['Ï≤¥ÏßÄÎ∞©Ïú® : %']]['Ï≤¥Ï§ë : kg'].mean()

61.7408806392542

In [102]:
a = df[(df.Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ =='M')]['ÏïÖÎ†•D : kg'].mean()
b = df[(df.Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ =='F')]['ÏïÖÎ†•D : kg'].mean()
a-b

17.55954185047464

In [103]:
a = df[(df.Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ =='M')]['ÍµêÏ∞®ÏúóÎ™∏ÏùºÏúºÌÇ§Í∏∞ : Ìöå'].mean()
b = df[(df.Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ =='F')]['ÍµêÏ∞®ÏúóÎ™∏ÏùºÏúºÌÇ§Í∏∞ : Ìöå'].mean()
a-b

14.243156833157627

# Í∏∞Ïò® Í∞ïÏàòÎüâ Îç∞Ïù¥ÌÑ∞

In [104]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  Ïù¥ÌôîÎèôÍ∞ïÏàò  Ïù¥ÌôîÎèôÍ∏∞Ïò®  ÏàòÏòÅÎèôÍ∞ïÏàò  ÏàòÏòÅÎèôÍ∏∞Ïò®
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [114]:
df['time']=pd.to_datetime(df['time'])
summer = df[df.time.dt.month.isin([6,7,8])].reset_index(drop=True)
summer
answer = len(summer[summer['Ïù¥ÌôîÎèôÍ∏∞Ïò®']>summer['ÏàòÏòÅÎèôÍ∏∞Ïò®']])
answer

1415

In [128]:
answer1 = df.loc[df['Ïù¥ÌôîÎèôÍ∞ïÏàò']==df['Ïù¥ÌôîÎèôÍ∞ïÏàò'].max()].time.values
answer2 = df.loc[df['ÏàòÏòÅÎèôÍ∞ïÏàò']==df['ÏàòÏòÅÎèôÍ∞ïÏàò'].max()].time.values
print(answer1,answer2)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']

# ÏÑúÎπÑÏä§ Ïù¥ÌÉàÏòàÏ∏° Îç∞Ïù¥ÌÑ∞

In [129]:
import pandas as pd
#Îç∞Ïù¥ÌÑ∞ Î°úÎìú
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

In [141]:
df[df.Gender=='Male'].groupby('Geography').sum().Exited.sort_values(ascending=False).head(1)

Geography
Germany    287
Name: Exited, dtype: int64

In [146]:
round(df[(df.HasCrCard==1) & (df.IsActiveMember==1)]['Age'].mean(),4)

39.6102

In [149]:
round(df[df.Balance>=df.Balance.median()]['CreditScore'].std(),3)

97.295

# ÏÑ±Ïù∏ Í±¥Í∞ïÍ≤ÄÏßÑ Îç∞Ïù¥ÌÑ∞

In [150]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df.head()

,ÏÑ±Î≥ÑÏΩîÎìú,Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ),Ïã†Ïû•(5CmÎã®ÏúÑ),Ï≤¥Ï§ë(5KgÎã®ÏúÑ),ÌóàÎ¶¨ÎëòÎ†à,ÏãúÎ†•(Ï¢å),ÏãúÎ†•(Ïö∞),Ï≤≠Î†•(Ï¢å),Ï≤≠Î†•(Ïö∞),ÏàòÏ∂ïÍ∏∞ÌòàÏïï,...,ÌòàÏÉâÏÜå,ÏöîÎã®Î∞±,ÌòàÏ≤≠ÌÅ¨Î†àÏïÑÌã∞Îãå,(ÌòàÏ≤≠ÏßÄÏò§Ìã∞)AST,(ÌòàÏ≤≠ÏßÄÏò§Ìã∞)ALT,Í∞êÎßàÏßÄÌã∞Ìîº,Ìù°Ïó∞ÏÉÅÌÉú,Íµ¨Í∞ïÍ≤ÄÏßÑÏàòÍ≤ÄÏó¨Î∂Ä,ÏπòÏïÑÏö∞ÏãùÏ¶ùÏú†Î¨¥,ÏπòÏÑù
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

In [159]:
df['ÌòàÏïïÏ∞®'] =df['ÏàòÏ∂ïÍ∏∞ÌòàÏïï'] -df['Ïù¥ÏôÑÍ∏∞ÌòàÏïï']
df.groupby('Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ)')['ÌòàÏïïÏ∞®'].var().sort_values(ascending=False).index[4]

60

In [166]:
df['WHtR'] =df['ÌóàÎ¶¨ÎëòÎ†à']/df['Ïã†Ïû•(5CmÎã®ÏúÑ)']
m = len(df[(df['WHtR']>=0.58) & (df.ÏÑ±Î≥ÑÏΩîÎìú=='M')])
f = len(df[(df['WHtR']>=0.58) & (df.ÏÑ±Î≥ÑÏΩîÎìú=='F')])
m/f

1.1693877551020408

# ÏûêÎèôÏ∞® Î≥¥ÌóòÍ∞ÄÏûÖ ÏòàÏ∏°Îç∞Ïù¥ÌÑ∞

In [167]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

In [171]:
answer = df[(df['Vehicle_Age']=='> 2 Years') & (df['Annual_Premium'] >= df['Annual_Premium'].median())]['Vintage'].mean()
answer

154.43647182359118

In [180]:
meandf = df.groupby(['Gender','Vehicle_Age'],as_index = False)['Annual_Premium'].mean()
meandf.pivot(index='Vehicle_Age',columns='Gender',values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

# Ìï∏ÎìúÌè∞ Í∞ÄÍ≤© ÏòàÏ∏°Îç∞Ïù¥ÌÑ∞

In [181]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [194]:
answer =df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values().groupby(level=0).tail(1)
answer

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

In [203]:
cordf = df[df.price_range==3].corr().unstack().sort_values(ascending=False)
answer = cordf[cordf!=1].reset_index().iloc[1]
answer

level_0          pc
level_1          fc
0          0.635166
Name: 1, dtype: object